/*
COLOR SCHEMES:
Mid blue- 47A6FC
Owangeg- FE500D
yell tan- FEE24D
pinko- FFA1FB
*/
body {
    background-color:none;
    background-image: url(images/back.jpg);
    background-size: cover;
    color: none;
    background-attachment: fixed;
    background-position: center;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.button-wrap {
    text-align: center;
    transition: background-color .25s;
}


.image-content > img {
    max-width: 400px;
    min-width: 200px;
    max-height: 500px;
    border-radius: 50%;
<<<<<<< HEAD:css/mystyles.css
    border-style: solid;
    border-color: skyblue;
    margin-right: 35;
    border: 5px lightblue solid;
}

    



.image-content {
    text-align: center;
}


#skills {
<<<<<<< HEAD
    text-align: center;
    font-size: 25px; 
=======
    text-indent: 50px;
=======
>>>>>>> parent of 0f3329e... Dun?:css/styles.css
>>>>>>> origin/master
}

#skills span {
    font-size: 15px;
    letter-spacing: 5px;
}




ul {
    list-style-type: none;
}

header h1 {
    color: lightcyan;
    font-size: 50px;
    background-image: url(images/trees.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 400px;
    min-width: 200px;
    min-height: 60px;
    text-align: center;
    
}

h2 {
    color: white;
    text-shadow: 
        0 0 6px black,
        0 0 6px black,
        0 0 6px black,
        0 0 6px black,
        0 0 6px black;
    margin: 10px;
}

nav > ul > button {
<<<<<<< HEAD
    border: none;
    color: lightcyan;
    font-size: 25px;
=======
    background-color: white;
    color: blueviolet;
    border-style: solid;
    border-color: dimgray;
    color: darkcyan;
>>>>>>> origin/master
    display: inline-block;
    margin: 4;
    transition: background-color .5s;
    background-color: #FFA1FB;
}

nav > ul {
    color: lightcyan;
    min-height: 40px;
}


nav > ul > button:hover {
<<<<<<< HEAD
    background-color: lightslategray;
=======
    background-color: lightblue;
    background-color: lightgrey;
>>>>>>> origin/master
}    


aside { 
    color:black;
    font-size: 20px;
}


#aside-right h3 {
    text-align: center;
    padding-bottom: 0;
    font-size: 35px;
    margin: 0;
}


#header h1 {
    width:100%;
    background-color: none;
    text-shadow: 
         0 0 6px lightpink,
         0 0 3px purple,
         0 0 7px white,
         0 0 4px pink,
         0 0 5px lightpink,
         0 0 5px lightpink;
}

#header > h1 {
    margin:0;
}

#nav {
    width:100%;
    background-color: aquamarine;
    min-height: 30px;
    height: auto;
}



.menu {
    display:flex;
    background-color: #5fd8dc;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

#middle-wrapper-width {
    display:flex;
    max-width: 960px;
    margin: 0 auto;
}

#main-content-wrapper {
    background-color:none;
    width: 80%;
}

p {
    color: white;
    text-shadow: 
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black;
    margin: 7px;
}


#latest-work {
<<<<<<< HEAD
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    margin: 0;
}


#latest-work > li:before {
    content:"";
    border-color: transparent blue;
    border-style: solid;
    border-width: .25cm 0 .25cm .35cm;
    display: block;
    height: 0;
    width: 0;
    left: -.5cm;
    top: .8cm;
    position: relative;
=======
<<<<<<< HEAD:css/mystyles.css
    padding-top: 0px;
    margin-top: 0;
>>>>>>> origin/master
    list-style-type: lower-greek;

}


#latest-work > li:before {
    content:"";
    border-color: transparent blue;
    border-style: solid;
    border-width: .25cm 0 .25cm .35cm;
    display: block;
    height: 0;
    width: 0;
    left: -.5cm;
    top: .7cm;
    position: relative;
    
=======
    list-style-type: lower-greek;
>>>>>>> parent of 0f3329e... Dun?:css/styles.css
}
    
#favorite-sites {
    border-bottom: 10px #F864E9 solid;
    border-top: 5px #F864E9 solid;
    margin-top: 120;
}

.side-by-side {
    display: flex;
}


#favorite-sites > ul {
    display: flex;
    justify-content: space-around;
    background-image: url(images/back.jpg);
    border-bottom: 9px lightblue solid;
    border-top: 9px lightblue solid;
    margin: 0;
}

#favorite-sites > ul > li > img {
    max-height: 250px;
    max-width:  250px;
    background-color: none;
}



footer {
<<<<<<< HEAD
    font-size: 50px;
    
=======
<<<<<<< HEAD:css/mystyles.css

=======
    background-color: blueviolet;
>>>>>>> parent of 0f3329e... Dun?:css/styles.css
    margin:0;
    background-color: whitesmoke;

    font-size: 50px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}


footer > h1 {
    margin:0;
>>>>>>> origin/master
}

footer h1 {
    text-align: center;
}



