/*
COLOR SCHEMES:
Mid blue- 47A6FC
Owangeg- FE500D
yell tan- FEE24D

*/
body {
    background-color:none;
    background-image: url(images/back.jpg);
    background-size: cover;
    color: none;
    background-attachment: fixed;
    background-position: center;
}

.button-wrap {
    text-align: center;
<<<<<<< HEAD
    border-bottom: 4px #47A6FC solid;
    border-top:  4px #47A6FC solid;
=======
>>>>>>> origin/master
}

.image-content > img {
    max-width: 300px;
    min-height: 200px;
    border-radius: 50%;
<<<<<<< HEAD
    border-style: solid;
    border-color: skyblue;
=======
    margin-right: 35;
>>>>>>> origin/master
}

    



.image-content {
    text-align: center;
}


#skills {
    text-indent: 50px;
}





ul {
    list-style-type: none;
}

#header h1 {
    color:lightblue;
    font-family: cursive;
    font-size: 50px;
        background-image: url(images/trees.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 400px;
    min-width: 200px;
    min-height: 60px;
    text-align: center;
    margin: 0;
}

h2 {
    color: white;
    text-shadow: 
        0 0 6px black,
        0 0 6px black,
        0 0 6px black,
        0 0 6px black,
        0 0 6px black;
    margin: 10px;
    text-align: center;
}

nav > ul > button {
    background-color: white;
<<<<<<< HEAD
    color: blueviolet;
=======
    border-style: solid;
    border-color: dimgray;
    color: darkcyan;
>>>>>>> origin/master
    display: inline-block;
    margin: 4;
    transition: background-color .5s;
}

nav > ul > button:hover {
<<<<<<< HEAD
    background-color: lightblue;
=======
    background-color: lightgrey;
>>>>>>> origin/master
}    


aside { 
    font-size: 25px;
    padding-left: 20px;
}


aside > h3 {
    padding-bottom: 0px;
    margin-bottom: 0;
    text-align: center;
}


#header {
    width:100%;
    background-color: none;
    text-shadow: 
        0 0 5px grey,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 5px grey;
}

#nav {
    width:100%;
    background-color: aquamarine;
    min-height: 30px;
    height: auto;
}


#main-content-wrapper #skills {
    text-align: center;
    letter-spacing: 2px;
}

#main-content-wrapper #skills span {


}

.image-content {
    text-align: center;
    padding-right: 10px;
}



.menu {
    display:flex;
        background-color: #5fd8dc;
        justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

#middle-wrapper-width {
    display:flex;
max-width: 800px;
    margin: 0 auto;
}

#main-content-wrapper {
    background-color:none;
    width: 80%;
}

p {
    color: white;
    text-shadow: 
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black,
        0 0 3px black;
    margin: 7px;
}


#latest-work > li {
    list-style-type: none;
    border-bottom: 1px black solid;
    width: 100%;
    text-align: center;
    margin-top: -2;
}
    
#latest-work {
<<<<<<< HEAD
    padding-top: 0px;
    margin-top: 0;
=======
    list-style-type: lower-greek;
    font-size: 35px;
>>>>>>> origin/master
}


#latest-work > li:before {
    content:"";
    border-color: transparent blue;
    border-style: solid;
    border-width: .25cm 0 .25cm .35cm;
    display: block;
    height: 0;
    width: 0;
    left: -.5cm;
    top: .7cm;
    position: relative;
    
}


#favorite-sites {
    margin-top: 60;
    color: none;
    background-image: url(images/back.jpg);
    background-position: center;
    border-bottom: 4px #47A6FC solid;
    border-top:  4px #47A6FC solid;

}

.side-by-side {
    display: flex;
}


#favorite-sites > ul {
    display: flex;
    justify-content: space-around;
}

#favorite-sites > ul > li > img {
    max-height: 250px;
    max-width:  250px;
    background-color: none;
    padding-left: 200;
    align-content: center;
    margin-top: 100;
    padding-bottom: 100px;
}



footer {
<<<<<<< HEAD
    margin:0;
=======
    background-color: whitesmoke;
>>>>>>> origin/master
    font-size: 50px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    
<<<<<<< HEAD
footer > h1 {
    font-size: 50px;
    color: lightblue;
        min-width: 200px;
    min-height: 60px;
    text-align: center;
     text-shadow: 
        0 0 5px black,
        0 0 5px grey,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 4px darkgray,
        0 0 5px grey;
    background-size: 300px 100px;
    margin:0;
    transform: translateY(50%);
    margin: 50;
=======
>>>>>>> origin/master
}



